.container {
    max-width: 960px;
    margin: auto;
    margin-bottom: 0px;
  }
  
  .navbar {
    width: 960px;
    background-color: white;
    padding: 10px;
    margin: auto;
    display: flex;
    margin-bottom: 120px;
  }
  
  .container1 {
    display: flex;
    justify-content: flex-start;
    float: left;
  }

  .container2 {
    display: flex;
    justify-content: flex-end;
    float: right;
  }
  
  .menu-left {
    display: flex;
    justify-content: flex-start;
  }
  
  .menu-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .menu-item {
    margin-right: 10px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    display: inline-block;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-form {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    border-style: solid;
    border-color: #EFF1F0;
    width: 600px;
    height: 40px;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 20px;
    border-radius: 30px;
  } 
  .search-button {
    margin-top: 30px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    margin-bottom: 200px;
  }
  .search-button2 {
    margin-left: 10px;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    margin-bottom: 200px;
  }
  
  .footer {
    width: 960px;
    background-color: #f2f2f2;
    text-align: flex;
    font-size: 18px;
    color: #666;
    margin-top: 10px;
  }
  .footer1 {
    padding-top: 5px;
    margin:10px;
  }
  .footer p {
    border-style: solid;
    border-top-color: #dadce0;
    border-bottom-color:  #f2f2f2;
    border-left-color:  #f2f2f2;
    border-right-color:  #f2f2f2;
    display: flex;
    justify-content: flex-end;
  }
  .footer a {
    display: flex;
    color: #666;
    text-decoration: none;
    margin:10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  